{% extends 'base.html' %}
{% load static %}

{% block title %}Enem Nggawa StoryPitu{% endblock %}

{% block content %}
    <section class="container-fluid pb-5 px-0 min-vh-100 w-100">

        {% include 'navbar.html' %}

        <div class="row mx-auto mx-5">
            <div class="col mx-5">
                <div class="p-5 m-5 text-center border border-white">
                    <div class="p-2">
                        <img class="border border-dark rounded-circle" src="{% static 'img/self.jpg' %}" alt="Alghifari" style="height: 150px; width: 150px; object-fit:cover;">
                    </div>
                    <h3><b>Alghifari Taufan Nugroho</b></h3>
                    <h6 style="margin-top: -0.25%;">Information System Student</h6>

                    <hr class="border border-white">

                    <div class="row accordion text-dark">
                        <div class="col col-lg-4 ">
                            <div class="accordion-head rounded-top border border-white bg-light font-weight-bold">Aktivitas<span style="font-size:15px;">&#9662;</span></div>
                            <div class="accordion-content rounded-bottom border border-white bg-light" style="display: none;">
                                <div class="accordion-head">Kuliah</div>
                                <div class="accordion-content font-weight-light font-italic" style="display: none;">
                                    di Fasilkom UI ehe.
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-4">
                            <div class="accordion-head rounded-top border border-white bg-light font-weight-bold">Pengalaman Organisasi/Kepanitiaan<span style="font-size:15px;">&#9662;</span></div>
                            <div class="accordion-content rounded-bottom border border-white bg-light" style="display: none;">
                                <div class="accordion-head">Fuki 2019</div>
                                <div class="accordion-content font-weight-light font-italic p" style="display: none;">
                                    Forum Ukhwah Kajian Islam di Fasilkom UI.
                                </div>
                                <div class="accordion-head">Educare 2019</div>
                                <div class="accordion-content font-weight-light font-italic" style="display: none;">
                                    Educare adalah serangkaian acara yang didedikasikan untuk memfasilitasi dan mendidik mahasiswa untuk masa depan.
                                </div>
                                <div class="accordion-head">Dasar-Dasar Pemrograman 0 2019</div>
                                <div class="accordion-content font-weight-light font-italic" style="display: none;">
                                    Pengajar sukarelawan dalam pembelajaran pemrograman untuk mahasiswa tahun pertama Fasilkom Universitas Indonesia.
                                </div>
                                <div class="accordion-head">PMB 2019</div>
                                <div class="accordion-content font-weight-light font-italic" style="display: none;">
                                    Pembinaan Mahasiswa Baru (PMB) merupakan kegiatan untuk mahasiswa baru agar dapat menjalani perkuliahan di Fasilkom.
                                </div>
                            </div>
                        </div>
                        <div class="col col-lg-4">
                            <div class="accordion-head rounded-top border border-white bg-light font-weight-bold">Prestasi<span style="font-size:15px;">&#9662;</span></div>
                            <div class="accordion-content rounded-bottom border border-white bg-light" style="display: none;">
                                <div class="accordion-head">Pekan Ristek</div>
                                <div class="accordion-content font-weight-light font-italic" style="display: none;">
                                    Capture The Flag.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}
