{% extends 'base.html' %}
{% load static %}

{% block title %}Enem Nggawa StoryWolu{% endblock %}

{% block content %}
    <section class="container-fluid pb-5 px-0 min-vh-100 w-100">

        {% include 'navbar.html' %}

        <div class="row mx-auto px-5 my-4">
            <div class="col text-center mx-5 px-5">
                <label for="search"><h3 class="h3 font-weight-bold">List of Books</h3></label>
                <input type="text" class="form-control form-control-sm" id="search" placeholder="Input books name {Python}">
            </div>
        </div>
        <div class="row mx-auto px-5 my-4">
            <div class="col mx-5">
                <table class="table table-striped table-dark " id="output">
                </table>
            </div>
        </div>

        {% include 'footer.html' %}

    </section>
{% endblock %}

{% block script %}
    <script src="{% static 'js/books.js' %}"></script>
{% endblock %}
