{% extends 'base.html' %}
{% load static %}

{% block title %}Nginx as Load Balancer - Enem{% endblock %}

{% block content %}
<section class="container-fluid pb-5 px-0 min-vh-100 w-100">

    {% include 'navbar.html' %}

    <div class="jumbotron my-3 bg-dark text-light" style="margin: 0 15vw;">
        <img src="https://www.nginx.com/wp-content/uploads/2018/08/NGINX-logo-rgb-large.png" alt="Nginx" style="object-fit: cover; width: 50%;">
        <hr class="my-4 border border-light border-left-0 border-right-0 border-bottom-0">
        <p class="font-italic lead">Nginx is a web server which can also be used as a reverse proxy, load balancer, mail proxy and HTTP cache. <a class="text-info" target="_blank" href="https://en.wikipedia.org/wiki/Nginx">Wikipedia</a></p>
        <p class="lead">
            <a class="btn btn-light" href="#nginx" role="button">Read More</a>
        </p>
    </div>

    <div class="bg-light text-dark rounded-lg px-3 py-4 mb-2" style="margin: 0 15vw;">
        <div class="row" id="nginx">
            <div class="col">
                <h2 class="text-primary mb-4">HTTP Load Balancer with Nginx</h2>
                <blockquote class="border border-top-0 border-right-0 border-bottom-0 pl-3">
                    <p><a href="http://searchnetworking.techtarget.com/definition/load-balancing" class="text-info">Load balancing</a> is dividing the amount of work that a computer has to do between two or more computers
                        so that more work gets done in the same amount of time and, in general, all users get served faster.</p>
                </blockquote>
                <p>
                    To make it easy to understand, see this picture below
                </p>
                <div class="text-center mb-3">
                    <img src="https://assets.digitalocean.com/articles/HAProxy/web_server.png" alt="web server" width="75%"><br>
                    <a href="https://www.digitalocean.com/community/tutorials/what-is-load-balancing">Source</a>
                </div>
                <p>
                    Normal website works with that simple flow. The web server handle all user that come in. If it's unavailable or there are too many users that goes to the website, 
                    the website will go down and can not be accessed. The website will be dead and have no use. This problem can be mitigated with Load Balancer with at least one additional web server on the backend. 
                    With total at least 2 web server that connect to the same content, users receive consistent content regardless of which server responds. See picture below
                </p>
                <div class="text-center mb-3">
                    <img src="https://assets.digitalocean.com/articles/high-availability/Diagram_2.png" alt="web server" width="75%"><br>
                    <a href="https://www.digitalocean.com/community/tutorials/what-is-load-balancing">Source</a>
                </div>
                <p>
                    We will use Nginx as a load balancer in this article.
                </p>
                <hr class="mx-5 my-4">
                <h3>Installing Nginx</h3>
                <p>
                    Easily access <a href="http://nginx.org/en/download.html" class="text-info">this link</a> to download Nginx. This tutorial focus on Windows, so download 
                    the Windows version. Use stable version to ensure there are no major bugs. But if you want to use the newest features, feel free to use mainline version with 
                    your own risk.
                </p>
                <div class="text-center mb-3">
                    <img src="{% static 'img/stone/1.jpg' %}" alt="web server" width="75%"><br>
                </div>
                <p>
                    After that, you can extract it. Go inside nginx folder, and open command prompt (cmd).
                </p>
                <div class="text-center mb-3">
                    <img src="{% static 'img/stone/2.jpg' %}" alt="web server" width="75%"><br>
                </div>
                <p>
                    In the cmd, you can perform commands such as :
                    <ul>
                        <li>Start <kbd>start nginx</kbd></li>
                        <li>Stop (Fast Shutdown) <kbd>nginx -s stop</kbd></li>
                        <li>Quit (Force Shutdown) <kbd>nginx -s quit</kbd></li>
                        <li>Reload <kbd>nginx -s reload</kbd></li>
                    </ul>
                </p>

                <hr class="mx-5 my-4">
                <h3>Configuring HTTP Nginx</h3>
                <p>
                    Back to the nginx folder, go to conf folder and open nginx.conf with your text editor. There are some template you can use, 
                    but if you want the basic template for http, use this :
                    <pre class="bg-dark text-light mx-2">

    events {
        worker_connections  1024;
    }

    http {
        upstream localhost {
            server localhost:8000 weight=5;
            server localhost:9000;
            # You can add more server if you want
            # You can also add backup server
            # server 192.0.0.1 backup;
        }
    
        server {
            location / {
                proxy_pass http://localhost;
            }
        }
    }
                    </pre>
                </p>
                <p>
                    Save the file. Now you can run 2 server that have the same content locally. As example, I use my 
                    <a href="https://www.djangoproject.com/" class="text-info">Django</a> project with different port (8000 and 9000). Now try to 
                    start nginx with <kbd>start nginx</kbd>. After that, go to browser and open localhost
                </p>
                <div class="text-center mb-3">
                    <img src="{% static 'img/stone/3.jpg' %}" alt="web server" width="75%"><br>
                </div>
                <p>
                    As you can see, the website can now be opened without specifying the port, and it connects to the load balancer and later be directed to one of the web server. 
                    If you shutdown one of the web server, the website can still be accessed because there is still one active web server.
                </p>
                <p>
                    To inform, this website is served by <samp>{{ host }}</samp> with port <samp>{{ port }}</samp>.<br>
                    That's all for the tutorial, hope it helps!
                </p>
            </div>
        </div>
    </div>

    {% include 'footer.html' %}

</section>
{% endblock %}
