{% load static %}
<!-- footer
    ====================================================================== -->
<footer id="sticky-footer" class="py-2 bg-dark fixed-bottom text-white-50" style="
flex-shrink: none;">
  <div class="container text-center">
    <small>Copyright &copy; <a href="https://gitlab.com/nvanonim/"><span class="text-white-50">nvanonim</span></a></small>
  </div>
</footer>
