{% load static %}
<!-- header-navbar
    ====================================================================== -->
<div class="pos-f-t">
  <div class="collapse" id="navbarToggleExternalContent">
    <div class="bg-dark p-4">
      <a href="{% url 'home' %}" class="text-white h4">Enem</a> <a href="#" id="switch" class="text-info" style="font-size: 13px;">Theme Switch</a>

      <p>
          <span class="text-muted" style="font-size: 17px;">Story yang diminta sama kak Pewe ehe.</span><br></p>
          {% if request.user.is_authenticated %}
          <span class="text-success">Halo {{ request.user }}!</span>
      <p class="mb-0">
          <a class="nav-item card-link h6 text-success font-weight-bold" href="{% url 'logout' %}">Logout</a>
          {% else %}
          <a class="nav-item card-link h6 text-success font-weight-bold" href="{% url 'login' %}">Login</a>
          <a class="nav-item card-link h6 text-success font-weight-bold" href="{% url 'register' %}">Register</a>
          {% endif %}
          <span class="font-weight-bold text-light">&nbsp; &nbsp; | &nbsp; &nbsp;</span>
          <a class="nav-item card-link h6 text-primary" href="{% url 'profile' %}">Profile</a>
          <a class="nav-item card-link h6 text-primary" href="{% url 'books' %}">Books</a>
          <a class="nav-item card-link h6 text-primary" href="{% url 'nginx' %}">Nginx</a>
      </p>
    </div>
  </div>
  <nav class="navbar sticky-top navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
</div>
