{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="container-fluid pb-5 px-0 min-vh-100 w-100">

        {% include 'navbar.html' %}

        <div class="row mx-auto">
            <div class="col p-3 px-5">
                <form class="px-5" method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" value="Submit" name="Submit" class="btn btn-dark">Submit</button>
                </form>
            </div>
        </div>

        <div class="row mx-auto">
            <div class="col">
                <div class="card">
                    {% for s in status %}
                        <div class="card-body">
                            <p class="card-text text-dark">
                                {{ s.message }}
                            </p>
                            <h6 class="card-subtitle mb-2 text-muted font-italic" style="font-size:14px;">{{ s.time }}</h6>
                        </div>
                        {% empty %}
                        <div class="card-body">
                            <p class="card-text text-dark">
                                There is no status yet.
                            </p>
                            <h6 class="card-subtitle mb-2 text-muted font-italic" style="font-size:14px;">fill some!</h6>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {% include 'footer.html' %}

    </section>
{% endblock %}