{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        .errorlist{
            display: none;
        }
        #reg {
            text-shadow: 1px 1px 1px #000000;
        }
    </style>
    <section class="container-fluid pb-5 px-0 min-vh-100 w-100">

        {% include 'navbar.html' %}

        <div class="row mx-auto px-5 my-4">
            <div class="col text-center mx-5" style="top: 40vh; transform: translateY(-50%);">
                <h1 class="h1 font-weight-bolder mb-5 text-uppercase">Login</h1>
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}

                    <span class="font-weight-bold">{{ form.as_p }}</span>

                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger mx-5 px-5">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endif %}

                    <button type="submit" value="login" name="Submit" class="btn btn-dark mb-3">Login</button>
                </form>
                <a id="reg" href="{% url 'register' %}"><span class="text-white font-italic" style="font-size: 17px;">Don't have any account? Click here to register</span></a>
            </div>
        </div>

        {% include 'footer.html' %}

    </section>
{% endblock %}
