{% extends "base.html" %}
{% load static %}

{% block content %}
    <style>
        .errorlist{
            display: none;
        }
        th {
            vertical-align: top;
            padding-top: 0.65%;
            padding-right: 50px;
        }
    </style>
    <section class="container-fluid pb-5 px-0 min-vh-100 w-100">

        {% include 'navbar.html' %}

        <div class="row mx-auto w-100 vh-100">
            <div class="col" style="background: url({% static 'img/lepi-fix.png' %}); background-size: cover;">

            </div>
            <div class="col mx-5" style="top: 50vh; transform: translateY(-30%);">
                <h1 class="h1 font-weight-bolder mb-5 pb-3 text-uppercase">Register</h1>
                <form method="post" action="{% url 'register' %}">
                    {% csrf_token %}
                    <table>
                    <span class="font-weight-bold">{{ form.as_table }}</span>
                    </table>

                    {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger mx-5 px-5">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                    {% endif %}

                    <button type="submit" name="Register" class="btn btn-dark my-5">Register</button>
                </form>
            </div>
        </div>

        {% include 'footer.html' %}

    </section>
{% endblock %}
